#container{
	display: grid;
	grid-template-columns: 10% auto 10%;
	grid-template-rows: 150px auto;
	grid-template-areas:
		". header ."
		". main .";
	width: 80%;
  align-items: center;
}

header {
	padding: 10px;
}

#sketchpad {
	grid-area: main;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
}

.item { 
	place-self: stretch stretch;
	height: 50px;
}

header {
	grid-area: header;
}